<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    
    <!-- Application Loggers -->
	<logger name="com.Winner">
		<level value="info" />
	</logger>
	
    <!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	

	<!-- SQL Logger -->
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="console"/> 
	</logger>

	<logger name="jdbc.sqlonly" additivity="false"> 
		<level value="info"/> 
		<appender-ref ref="console"/> 
	</logger>

	<logger name="jdbc.audit" additivity="false"> 
		<level value="ERROR"/>  
		<appender-ref ref="console"/> 
	</logger> 

	<logger name="jdbc.resultset" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="console"/> 
	</logger>

	<logger name="jdbc.resultsettable" additivity="false"> 
		<level value="info"/>  
		<appender-ref ref="console"/> 
	</logger> 

	<!-- Root Logger -->
	<root>
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</root>
</Configuration>